.navigation-links-wrapper {
  display: contents;
}
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink1 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink2 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink3 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink3:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink4 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink4:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink5 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink5:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink6 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink6:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink7 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink7:hover {
  background-color: var(--dl-color-wood-dark);
}




























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink1 {
    width: 100%;
    margin-bottom: 0px;
  }
  .navigation-links-navlink2 {
    width: 100%;
    margin-bottom: 0px;
  }
  .navigation-links-navlink3 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink4 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink5 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink6 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink7 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-linksroot-class-name11 {
    width: 100%;
  }
  .navigation-linksroot-class-name12 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name13 {
    width: 100%;
  }
  .navigation-linksroot-class-name14 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name15 {
    width: 100%;
  }
  .navigation-linksroot-class-name16 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name17 {
    width: 100%;
  }
  .navigation-linksroot-class-name18 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name19 {
    width: 100%;
  }
  .navigation-linksroot-class-name20 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name21 {
    width: 100%;
  }
  .navigation-linksroot-class-name22 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name23 {
    width: 100%;
  }
  .navigation-linksroot-class-name24 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name25 {
    width: 100%;
  }
  .navigation-linksroot-class-name26 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name27 {
    width: 100%;
  }
}

.footer-content-wrapper {
  display: contents;
}
.footer-content-container {
  flex: 0 0 auto;
  width: var(--dl-size-size-contentwidth);
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-content-navlink1 {
  display: contents;
}
.footer-content-image {
  height: 4rem;
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.page-fragment {
  display: contents;
}
.page-text6 {
  display: inline-block;
  margin-left: var(--dl-space-space-halfunit);
}
.page-navlink2 {
  color: var(--dl-color-leaves-dark);
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .footer-content-container {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .footer-content-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .page-text6 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-content-container {
    padding-top: 0px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .footer-content-image {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-content-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.page-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-logo {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.page-container2 {
  flex: 0 0 auto;
  width: var(--dl-size-size-contentwidth);
  height: auto;
  display: flex;
  align-items: flex-start;
}
.page-navlink1 {
  display: contents;
}
.page-image1 {
  height: 8.5rem;
  margin-right: 0px;
  text-decoration: none;
}
.page-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.page-container3 {
  width: var(--dl-size-size-contentwidth);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.page-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-dark);
}
.page-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page-burger-menu {
  display: none;
}
.page-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-blog {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.page-container4 {
  width: var(--dl-size-size-contentwidth);
  display: flex;
  padding: var(--dl-space-space-twounits);
  min-height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.page-container5 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  min-height: 400px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page-max-width {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.page-container6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.page-text2 {
  font-style: normal;
  font-weight: 400;
}
.page-button {
  text-decoration: none;
}
.page-container7 {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  min-height: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-image2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.page-container8 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0,0,0,0.7);
}
.page-container9 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-text4 {
  color: var(--dl-color-theme-neutral-light);
}
.page-text5 {
  color: var(--dl-color-theme-neutral-light);
}
.page-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.page-fragment {
  display: contents;
}
.page-text6 {
  display: inline-block;
  margin-left: var(--dl-space-space-halfunit);
}
.page-navlink2 {
  color: var(--dl-color-leaves-dark);
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .page-container2 {
    width: 100%;
  }
  .page-container3 {
    width: 100%;
  }
  .page-container4 {
    width: 100%;
    flex-direction: column;
  }
  .page-footer {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media(max-width: 767px) {
  .page-container2 {
    justify-content: center;
  }
  .page-container3 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .page-navbar-interactive {
    justify-content: center;
  }
  .page-desktop-menu {
    display: none;
  }
  .page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .page-mobile-menu {
    background-color: var(--dl-color-gray-dark);
  }
  .page-top {
    justify-content: flex-end;
  }
  .page-icon12 {
    fill: var(--dl-color-gray-white);
  }
  .page-container4 {
    padding: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .page-container5 {
    align-items: center;
    justify-content: center;
  }
  .page-container6 {
    width: 100%;
    align-items: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .page-text1 {
    text-align: center;
  }
  .page-text3 {
    text-align: center;
  }
  .page-container7 {
    display: none;
  }
  .page-footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-text6 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page-container3 {
    padding: var(--dl-space-space-unit);
  }
  .page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .page-mobile-menu {
    padding: 16px;
  }
  .page-container4 {
    padding: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .page-container5 {
    height: auto;
  }
  .page-container6 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .page-footer {
    padding: 0px;
  }
  .page-text6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
