.home-imported-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-imported-divcontainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-imported-divheader {
  width: 980px;
  height: 190px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-imported-link-air-flogonewjpg {
  top: 5px;
  left: 0px;
  width: 184px;
  height: 135px;
  position: absolute;
}
.home-imported-form {
  gap: 3.899993896484375px;
  top: 39px;
  left: 722.22998046875px;
  width: 258px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
.home-imported-input1 {
  display: flex;
  padding: 7.5px 11px;
  align-items: flex-start;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.home-imported-divplaceholder {
  display: flex;
  padding: 0 113px 0 0;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-imported-text100 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-input2 {
  color: rgba(255, 255, 255, 1);
  display: flex;
  padding: 4.190000057220459px 6.599999904632568px 5.000000476837158px;
  font-size: 14px;
  text-align: center;
  align-items: flex-start;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(68, 68, 68, 1);
}
.home-imported-list {
  top: 146px;
  left: 0px;
  width: 980px;
  display: flex;
  padding: 0 347.73004150390625px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(68, 68, 68, 1);
}
.home-imported-item-link1 {
  width: 56.02000045776367px;
  height: 44px;
  display: flex;
  padding: 0 13.020000457763672px 0 12px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(51, 51, 51, 1);
}
.home-imported-text102 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-item-link2 {
  width: 67.91999816894531px;
  height: 44px;
  display: flex;
  padding: 0 12.919998168945312px 0 13px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
.home-imported-text104 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-item-link3 {
  width: 126.37999725341797px;
  height: 44px;
  display: flex;
  padding: 0 14.379997253417969px 0 13px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
.home-imported-text106 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-item-link4 {
  width: 124.83999633789062px;
  height: 44px;
  display: flex;
  padding: 0 14.839996337890625px 0 13px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
.home-imported-text108 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-item-link5 {
  width: 86.37999725341797px;
  height: 44px;
  display: flex;
  padding: 0 12.379997253417969px 0 13px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
.home-imported-text110 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-item-link6 {
  width: 86.37999725341797px;
  height: 44px;
  display: flex;
  padding: 0 14.379997253417969px 0 13px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
.home-imported-text112 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-item-link7 {
  width: 84.36000061035156px;
  height: 44px;
  display: flex;
  padding: 0 12.360000610351562px 0 13px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 0 0 0 1px;
  flex-direction: column;
}
.home-imported-text114 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-divwrapper {
  gap: -406px;
  width: 980px;
  display: flex;
  padding: 20px 20px 48px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.home-imported-divcontentfull {
  width: 940px;
  height: 450px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-imported-text116 {
  top: 5px;
  color: rgba(68, 68, 68, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-list-item-link {
  top: 47px;
  left: 0px;
  width: 460px;
  height: 375px;
  display: flex;
  padding: 0 0 30px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-imported-trainingcertification1jpg {
  width: 460px;
  height: 345px;
}
.home-imported-divgrid1 {
  top: 47px;
  left: 480px;
  width: 460px;
  height: 269.0899963378906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-imported-heading2 {
  top: 22.950000762939453px;
  left: 0px;
  width: 460px;
  display: flex;
  padding: 0 38px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-imported-text118 {
  color: rgba(94, 94, 94, 1);
  height: auto;
  font-size: 21.399999618530273px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 22.399999618530273px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-pfeaturedcontentarea {
  top: 80.69999694824219px;
  left: 0px;
  width: 460px;
  display: flex;
  padding: 0 4px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-imported-text123 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-divfeaturedbutton {
  top: 208.08999633789062px;
  left: 0px;
  width: 230px;
  height: 61px;
  display: flex;
  padding: 5.3899993896484375px 58.404998779296875px 5.6100006103515625px 58.595001220703125px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.home-imported-text134 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 17px;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1) ;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-divwidgets {
  gap: 20px;
  width: 940px;
  display: flex;
  padding: 434px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-imported-divgrid2 {
  width: 300px;
  display: flex;
  padding: 0 0 20px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-imported-heading31 {
  width: 300px;
  height: 33px;
  display: flex;
  padding: 0 122.4000015258789px 0 122.5999984741211px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.home-imported-text136 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 33px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-divtextwidget1 {
  width: 300px;
  height: 210px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 245, 245, 1);
  border-style: solid;
  border-width: 0 1px 1px;
}
.home-imported-text138 {
  top: 10px;
  left: 11px;
  color: rgba(68, 68, 68, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-text155 {
  top: 178px;
  left: 14px;
  color: rgba(68, 112, 153, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-divgrid3 {
  width: 300px;
  display: flex;
  padding: 0 0 20px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-imported-heading32 {
  width: 300px;
  height: 33px;
  display: flex;
  padding: 0 125.4000015258789px 0 125.5999984741211px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.home-imported-text157 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 33px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-divtextwidget2 {
  width: 300px;
  height: 210px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 245, 245, 1);
  border-style: solid;
  border-width: 0 1px 1px;
}
.home-imported-text159 {
  top: 10px;
  left: 11px;
  color: rgba(68, 68, 68, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-text176 {
  top: 178px;
  left: 14px;
  color: rgba(68, 112, 153, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-divgrid4 {
  width: 300px;
  display: flex;
  padding: 0 0 20px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-imported-heading33 {
  width: 300px;
  height: 33px;
  display: flex;
  padding: 0 133.39500427246094px 0 133.60499572753906px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.home-imported-text178 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 33px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-divtextwidget3 {
  width: 300px;
  height: 210px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 245, 245, 1);
  border-style: solid;
  border-width: 0 1px 1px;
}
.home-imported-text180 {
  top: 10px;
  left: 11px;
  color: rgba(68, 68, 68, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-link {
  top: 12px;
  left: 11px;
  width: 276px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-imported-text182 {
  top: -2px;
  left: 236.47000122070312px;
  color: rgba(66, 134, 244, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-text184 {
  top: 19px;
  color: rgba(66, 134, 244, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-text186 {
  top: 31px;
  left: 182.0500030517578px;
  color: rgba(68, 68, 68, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-text188 {
  top: 52px;
  left: 11px;
  color: rgba(68, 68, 68, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-text201 {
  top: 178px;
  left: 14px;
  color: rgba(68, 112, 153, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-divfooter {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 20px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(226, 226, 226, 1);
}
.home-imported-divfooterwrapper {
  gap: 166.10000610351562px;
  width: 940px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-imported-divgrid5 {
  width: 300px;
  display: flex;
  padding: 0 193px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-imported-text203 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 33px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-text204 {
  font-weight: 400;
}
.home-imported-text206 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 33px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-p {
  width: 300px;
  display: flex;
  padding: 0 321.79998779296875px 0 139.2000274658203px;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
}
.home-imported-text207 {
  color: rgba(68, 68, 68, 1);
  height: auto;
  font-size: 10px;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 33px;
  font-stretch: normal;
  text-decoration: none;
}
.home-imported-text208 {
  font-weight: 700;
}
.home-imported-text209 {
  font-weight: 400;
}
