.navigation-links-wrapper {
  display: contents;
}
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink1 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink2 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink2:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink3 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink3:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink4 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink4:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink5 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink5:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink6 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink6:hover {
  background-color: var(--dl-color-wood-dark);
}


















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink1 {
    width: 100%;
    margin-bottom: 0px;
  }
  .navigation-links-navlink2 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink3 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink4 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink5 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink6 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-linksroot-class-name11 {
    width: 100%;
  }
  .navigation-linksroot-class-name12 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name13 {
    width: 100%;
  }
  .navigation-linksroot-class-name14 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name15 {
    width: 100%;
  }
  .navigation-linksroot-class-name16 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name17 {
    width: 100%;
  }
}

.home-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-logo {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.home-container11 {
  flex: 0 0 auto;
  width: var(--dl-size-size-contentwidth);
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-navlink10 {
  display: contents;
}
.home-image1 {
  height: 8.5rem;
  margin-right: 0px;
  text-decoration: none;
}
.home-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.home-container12 {
  width: var(--dl-size-size-contentwidth);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-dark);
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.home-container13 {
  width: var(--dl-size-size-contentwidth);
  display: flex;
  padding: var(--dl-space-space-twounits);
  min-height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-hero2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text10 {
  font-size: 2.5rem;
  text-align: center;
}
.home-text11 {
  color: var(--dl-color-leaves-dark);
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text12 {
  margin-top: 0px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-navlink11 {
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink11:hover {
  color: var(--dl-color-gray-white);
  transform: scale(1.02);
  background-color: var(--dl-color-wood-dark);
}
.home-slideshow {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.home-container14 {
  flex: 0 0 auto;
  width: var(--dl-size-size-contentwidth);
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-container15 {
  flex: 0 0 auto;
  width: 95%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-image2 {
  width: 100%;
  object-fit: cover;
}
.home-image4 {
  width: 100%;
  object-fit: cover;
}
.home-consulting-training-and-development {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.home-container17 {
  width: var(--dl-size-size-contentwidth);
  display: flex;
  padding: var(--dl-space-space-twounits);
  min-height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-hero3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text13 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-navlink12 {
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-navlink12:hover {
  color: var(--dl-color-gray-white);
  transform: scale(1.02);
  background-color: var(--dl-color-wood-dark);
}
.home-content1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text15 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-content2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.home-row1 {
  gap: 48px;
  display: flex;
  max-width: 1200px;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.home-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-icon20 {
  fill: var(--dl-color-theme-primary1);
  width: var(--dl-size-size-medium);
  height: auto;
  align-self: center;
}
.home-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text17 {
  text-align: center;
}
.home-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-icon22 {
  fill: var(--dl-color-theme-primary1);
  width: var(--dl-size-size-medium);
  height: auto;
  align-self: center;
}
.home-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text19 {
  text-align: center;
}
.home-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-icon24 {
  fill: var(--dl-color-theme-primary1);
  width: var(--dl-size-size-medium);
  height: auto;
  align-self: center;
}
.home-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text21 {
  text-align: center;
}
.home-row2 {
  gap: 48px;
  display: flex;
  max-width: 1200px;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.home-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-icon26 {
  fill: var(--dl-color-theme-primary1);
  width: var(--dl-size-size-medium);
  height: auto;
  align-self: center;
}
.home-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text26 {
  text-align: center;
}
.home-card5 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-icon28 {
  fill: var(--dl-color-theme-primary1);
  width: var(--dl-size-size-medium);
  height: auto;
  align-self: center;
}
.home-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text28 {
  text-align: center;
}
.home-card6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.home-icon30 {
  fill: var(--dl-color-theme-primary1);
  width: var(--dl-size-size-medium);
  height: auto;
  align-self: center;
}
.home-content8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text30 {
  text-align: center;
}
.home-hero4 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-text31 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text32 {
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-navlink13 {
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-navlink13:hover {
  color: var(--dl-color-gray-white);
  transform: scale(1.02);
  background-color: var(--dl-color-wood-dark);
}
.home-blog {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.home-container18 {
  flex: 0 0 auto;
  width: var(--dl-size-size-contentwidth);
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.home-container19 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-blog-post-card1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-blog-post-card1:hover {
  transform: scale(1.02);
}
.home-container20 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text33 {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #D9D9D9;
}
.home-text34 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-navlink14 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink14:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-wood-dark);
}
.home-container21 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-blog-post-card2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-blog-post-card2:hover {
  transform: scale(1.02);
}
.home-container22 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text35 {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #D9D9D9;
}
.home-text36 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-navlink15 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink15:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-wood-dark);
}
.home-container23 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-blog-post-card3 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-blog-post-card3:hover {
  transform: scale(1.02);
}
.home-container24 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text37 {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #D9D9D9;
}
.home-text38 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-navlink16 {
  color: var(--dl-color-leaves-dark);
  font-style: normal;
  font-weight: 600;
}
.home-text40 {
  color: var(--dl-color-leaves-dark);
  font-style: normal;
  font-weight: 600;
}
.home-navlink17 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink17:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-wood-dark);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.home-container25 {
  flex: 0 0 auto;
  width: var(--dl-size-size-contentwidth);
  height: auto;
  display: flex;
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navlink18 {
  display: contents;
}
.home-image6 {
  height: 4rem;
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-text42 {
  margin-left: var(--dl-space-space-halfunit);
}
.home-navlink19 {
  color: var(--dl-color-leaves-dark);
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 1600px) {
  .home-navlink11 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
  }
  .home-navlink12 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
  }
  .home-navlink13 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 991px) {
  .home-container11 {
    width: 100%;
  }
  .home-container12 {
    width: 100%;
  }
  .home-container13 {
    width: 100%;
    flex-direction: column;
  }
  .home-hero2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-text10 {
    text-align: center;
  }
  .home-text12 {
    text-align: center;
  }
  .home-container14 {
    width: 100%;
  }
  .home-container17 {
    width: 100%;
    flex-direction: column;
  }
  .home-hero3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-text13 {
    text-align: center;
  }
  .home-text14 {
    text-align: center;
  }
  .home-text15 {
    text-align: center;
  }
  .home-row1 {
    align-items: center;
    flex-direction: row;
  }
  .home-row2 {
    align-items: center;
    flex-direction: row;
  }
  .home-hero4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-text31 {
    text-align: center;
  }
  .home-text32 {
    text-align: center;
  }
  .home-blog {
    flex-direction: column;
  }
  .home-container18 {
    width: 100%;
  }
  .home-container19 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-container21 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-container25 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-container11 {
    justify-content: center;
  }
  .home-container12 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-navbar-interactive {
    justify-content: center;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .home-mobile-menu {
    background-color: var(--dl-color-gray-dark);
  }
  .home-top {
    justify-content: flex-end;
  }
  .home-icon12 {
    fill: var(--dl-color-gray-white);
  }
  .home-container13 {
    padding: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero2 {
    margin-bottom: 0px;
  }
  .home-text12 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-navlink11 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
  }
  .home-container14 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-container17 {
    padding: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero3 {
    margin-bottom: 0px;
  }
  .home-text14 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-navlink12 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
  }
  .home-row1 {
    flex-direction: column;
  }
  .home-row2 {
    flex-direction: column;
  }
  .home-hero4 {
    margin-bottom: 0px;
  }
  .home-text32 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-navlink13 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
  }
  .home-blog {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-container18 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-navlink14 {
    align-self: center;
  }
  .home-navlink15 {
    align-self: center;
  }
  .home-navlink17 {
    align-self: center;
  }
  .home-footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-text42 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-container12 {
    padding: var(--dl-space-space-unit);
  }
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-container13 {
    padding: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-hero2 {
    margin-bottom: 0px;
  }
  .home-text11 {
    text-align: center;
  }
  .home-text12 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-navlink11 {
    width: var(--dl-size-size-large);
    height: auto;
    padding: var(--dl-space-space-unit);
    margin-top: 0px;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-container14 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-container15 {
    z-index: 100;
    border-radius: var(--dl-radius-radius-radius2);
  }
  .home-container17 {
    padding: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-hero3 {
    margin-bottom: 0px;
  }
  .home-text14 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-navlink12 {
    width: var(--dl-size-size-large);
    height: auto;
    padding: var(--dl-space-space-unit);
    margin-top: 0px;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-hero4 {
    margin-bottom: 0px;
  }
  .home-text32 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-navlink13 {
    width: var(--dl-size-size-large);
    height: auto;
    padding: var(--dl-space-space-unit);
    margin-top: 0px;
    text-align: center;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-blog {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-container18 {
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-unit);
  }
  .home-container19 {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container20 {
    padding: var(--dl-space-space-halfunit);
  }
  .home-navlink14 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    align-self: center;
    text-align: center;
  }
  .home-container21 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container22 {
    padding: var(--dl-space-space-halfunit);
  }
  .home-navlink15 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    align-self: center;
    text-align: center;
  }
  .home-container23 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container24 {
    padding: var(--dl-space-space-halfunit);
  }
  .home-navlink17 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    align-self: center;
    text-align: center;
  }
  .home-footer {
    padding: 0px;
  }
  .home-container25 {
    padding-top: 0px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .home-image6 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text42 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
