.navigation-links-wrapper {
  display: contents;
}
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink1 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink2 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink2:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink3 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink3:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink4 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink4:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink5 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink5:hover {
  background-color: var(--dl-color-wood-dark);
}
.navigation-links-navlink6 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.navigation-links-navlink6:hover {
  background-color: var(--dl-color-wood-dark);
}


















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink1 {
    width: 100%;
    margin-bottom: 0px;
  }
  .navigation-links-navlink2 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink3 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink4 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink5 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-links-navlink6 {
    width: 100%;
    margin-left: 0;
    border-width: 0px;
    margin-bottom: 0px;
    border-left-width: 0px;
  }
  .navigation-linksroot-class-name11 {
    width: 100%;
  }
  .navigation-linksroot-class-name12 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name13 {
    width: 100%;
  }
  .navigation-linksroot-class-name14 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name15 {
    width: 100%;
  }
  .navigation-linksroot-class-name16 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    width: 100%;
  }
  .navigation-linksroot-class-name17 {
    width: 100%;
  }
}

.vision-and-mission-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.vision-and-mission-logo {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.vision-and-mission-container2 {
  flex: 0 0 auto;
  width: var(--dl-size-size-contentwidth);
  height: auto;
  display: flex;
  align-items: flex-start;
}
.vision-and-mission-navlink1 {
  display: contents;
}
.vision-and-mission-image1 {
  height: 8.5rem;
  margin-right: 0px;
  text-decoration: none;
}
.vision-and-mission-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.vision-and-mission-container3 {
  width: var(--dl-size-size-contentwidth);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.vision-and-mission-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-dark);
}
.vision-and-mission-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.vision-and-mission-burger-menu {
  display: none;
}
.vision-and-mission-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.vision-and-mission-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.vision-and-mission-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vision-and-mission-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.vision-and-mission-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vision-and-mission-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.vision-and-mission-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.vision-and-mission-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.vision-and-mission-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.vision-and-mission-blog1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.vision-and-mission-container4 {
  width: var(--dl-size-size-contentwidth);
  display: flex;
  padding: var(--dl-space-space-twounits);
  min-height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.vision-and-mission-blog2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vision-and-mission-footer1 {
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  max-height: auto;
  min-height: auto;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.vision-and-mission-container7 {
  flex: 0 0 auto;
  width: var(--dl-size-size-contentwidth);
  height: auto;
  display: flex;
  align-items: center;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.vision-and-mission-navlink2 {
  display: contents;
}
.vision-and-mission-image2 {
  height: 4rem;
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.vision-and-mission-text23 {
  margin-left: var(--dl-space-space-halfunit);
}
.vision-and-mission-navlink3 {
  color: var(--dl-color-leaves-dark);
  font-style: normal;
  font-weight: 600;
}
.vision-and-mission-footer2 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  max-height: auto;
  min-height: auto;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-background-off-white);
}
.vision-and-mission-container8 {
  flex: 1;
  width: var(--dl-size-size-contentwidth);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
@media(max-width: 991px) {
  .vision-and-mission-container2 {
    width: 100%;
  }
  .vision-and-mission-container3 {
    width: 100%;
  }
  .vision-and-mission-container4 {
    width: 100%;
    flex-direction: column;
  }
  .vision-and-mission-footer1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .vision-and-mission-container7 {
    width: 100%;
  }
  .vision-and-mission-footer2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .vision-and-mission-container8 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .vision-and-mission-container2 {
    justify-content: center;
  }
  .vision-and-mission-container3 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .vision-and-mission-navbar-interactive {
    justify-content: center;
  }
  .vision-and-mission-desktop-menu {
    display: none;
  }
  .vision-and-mission-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vision-and-mission-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .vision-and-mission-mobile-menu {
    background-color: var(--dl-color-gray-dark);
  }
  .vision-and-mission-top {
    justify-content: flex-end;
  }
  .vision-and-mission-icon12 {
    fill: var(--dl-color-gray-white);
  }
  .vision-and-mission-container4 {
    padding: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .vision-and-mission-footer1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .vision-and-mission-text23 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .vision-and-mission-footer2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media(max-width: 479px) {
  .vision-and-mission-container3 {
    padding: var(--dl-space-space-unit);
  }
  .vision-and-mission-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .vision-and-mission-mobile-menu {
    padding: 16px;
  }
  .vision-and-mission-container4 {
    padding: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .vision-and-mission-footer1 {
    padding: 0px;
  }
  .vision-and-mission-container7 {
    padding-top: 0px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .vision-and-mission-image2 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .vision-and-mission-text23 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .vision-and-mission-footer2 {
    padding: 0px;
  }
  .vision-and-mission-container8 {
    padding-top: 0px;
    flex-direction: column;
    padding-bottom: 0px;
  }
}
