.faq5faq13 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.faq5-max-width {
  gap: var(--dl-space-space-threeunits);
}
.faq5-list-item1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq5-list-item2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq5-list-item3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq5-list-item4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq5-list-item5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq5-list-item6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq5-list-item7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq5-list-item8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq5-list-item9 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq5-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.faq5-fragment10 {
  display: contents;
}
.faq5-text13 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq5-fragment11 {
  display: contents;
}
.faq5-text14 {
  display: inline-block;
}
.faq5-fragment12 {
  display: contents;
}
.faq5-text15 {
  display: inline-block;
}
.faq5-fragment13 {
  display: contents;
}
.faq5-text16 {
  display: inline-block;
}
.faq5-fragment14 {
  display: contents;
}
.faq5-text17 {
  display: inline-block;
}
.faq5-fragment15 {
  display: contents;
}
.faq5-text18 {
  display: inline-block;
}
.faq5-fragment16 {
  display: contents;
}
.faq5-text19 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
.faq5-fragment17 {
  display: contents;
}
.faq5-text20 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq5-fragment18 {
  display: contents;
}
.faq5-text21 {
  display: inline-block;
}
.faq5-fragment19 {
  display: contents;
}
.faq5-text22 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq5-fragment20 {
  display: contents;
}
.faq5-text23 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq5-fragment21 {
  display: contents;
}
.faq5-text24 {
  display: inline-block;
}
.faq5-fragment22 {
  display: contents;
}
.faq5-text25 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq5-fragment23 {
  display: contents;
}
.faq5-text26 {
  display: inline-block;
  align-self: center;
  text-align: center;
}
.faq5-fragment24 {
  display: contents;
}
.faq5-text29 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq5-fragment25 {
  display: contents;
}
.faq5-text30 {
  display: inline-block;
}
.faq5-fragment26 {
  display: contents;
}
.faq5-text31 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq5-fragment27 {
  display: contents;
}
.faq5-text32 {
  display: inline-block;
}
.faq5-fragment28 {
  display: contents;
}
.faq5-text33 {
  display: inline-block;
  text-align: center;
}
.faq5-fragment29 {
  display: contents;
}
.faq5-text34 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq5-fragment30 {
  display: contents;
}
.faq5-text35 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq5-fragment31 {
  display: contents;
}
.faq5-text36 {
  display: inline-block;
}
@media(max-width: 991px) {
  .faq5-text13 {
    text-align: left;
  }
  .faq5-text20 {
    text-align: left;
  }
  .faq5-text22 {
    text-align: left;
  }
  .faq5-text23 {
    text-align: left;
  }
  .faq5-text25 {
    text-align: left;
  }
  .faq5-text29 {
    text-align: left;
  }
  .faq5-text31 {
    text-align: left;
  }
  .faq5-text34 {
    text-align: left;
  }
  .faq5-text35 {
    text-align: left;
  }
}
@media(max-width: 767px) {
  .faq5-content1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .faq5-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
