<!DOCTYPE html>
<html lang="english">
  <head>
    <title>AIRF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

        null
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/airf logo new.jpg"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->

    <style>
      @keyframes slide{
          0%{
              transform: translateX(0);
          }
          25%{
              transform: translateX(0);
          }
          30%{
              transform: translateX(-100%);
          }
          50%{
              transform: translateX(-100%);
          }
          55%{
              transform: translateX(-200%);
          }
          75%{
              transform: translateX(-200%);
          }
          80%{
              transform: translateX(-300%);
          }
          100%{
              transform: translateX(-300%);
          }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./faq5.css" rel="stylesheet" />
      <div class="faq5faq13 thq-section-padding">
        <div class="faq5-max-width thq-section-max-width thq-flex-column">
          <div class="thq-flex-column">
            <h2>
              <fragment class="faq5-fragment28">
                <h2 class="faq5-text33 thq-heading-2">FAQs</h2>
              </fragment>
            </h2>
          </div>
          <div class="thq-flex-row faq5-content1">
            <div class="thq-flex-column">
              <div class="faq5-list-item1">
                <p>
                  <fragment class="faq5-fragment26"></fragment>
                </p>
                <p class="faq5-text31 thq-body-large">
                  What type of consulting services does AIRF offer?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment14">
                    <span class="faq5-text17 thq-body-small">
                      AIRF offers consulting services in various areas such as
                      agricultural practices, business development, and project
                      management.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item2">
                <p>
                  <fragment class="faq5-fragment29"></fragment>
                </p>
                <p class="faq5-text34 thq-body-large">
                  Are the training programs at AIRF customizable?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment27">
                    <span class="faq5-text32 thq-body-small">
                      Yes, AIRF provides tailor-made courses to suit the
                      specific needs and requirements of individuals or
                      organizations.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item3">
                <p>
                  <fragment class="faq5-fragment22"></fragment>
                </p>
                <p class="faq5-text25 thq-body-large">
                  How experienced are the instructors at AIRF?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment15">
                    <span class="faq5-text18 thq-body-small">
                      AIRF has a team of experienced instructors with expertise
                      in different fields related to agriculture and economic
                      empowerment.
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
            <div class="thq-flex-column">
              <div class="faq5-list-item4">
                <p>
                  <fragment class="faq5-fragment10"></fragment>
                </p>
                <p class="faq5-text13 thq-body-large">
                  Does AIRF collaborate with partners globally?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment12">
                    <span class="faq5-text15 thq-body-small">
                      Yes, AIRF collaborates with partners globally to promote
                      economic empowerment and wealth creation through various
                      programs and initiatives.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item5">
                <p>
                  <fragment class="faq5-fragment19"></fragment>
                </p>
                <p class="faq5-text22 thq-body-large">
                  Can individuals enroll in development programs at AIRF?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment21">
                    <span class="faq5-text24 thq-body-small">
                      Yes, individuals can enroll in development programs
                      offered by AIRF to enhance their skills and expertise in
                      specific areas.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item6">
                <p>
                  <fragment class="faq5-fragment20"></fragment>
                </p>
                <p class="faq5-text23 thq-body-large">
                  What is the focus of the training courses at AIRF?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment25">
                    <span class="faq5-text30 thq-body-small">
                      The training courses at AIRF focus on improving expertise
                      and skills in various areas related to agriculture and
                      economic development.
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
            <div class="thq-flex-column">
              <div class="faq5-list-item7">
                <p>
                  <fragment class="faq5-fragment24"></fragment>
                </p>
                <p class="faq5-text29 thq-body-large">
                  How can I benefit from the consulting services at AIRF?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment13">
                    <span class="faq5-text16 thq-body-small">
                      You can benefit from the consulting services at AIRF by
                      receiving expert advice, guidance, and support to enhance
                      your agricultural practices or business operations.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item8">
                <p>
                  <fragment class="faq5-fragment30"></fragment>
                </p>
                <p class="faq5-text35 thq-body-large">
                  Does AIRF offer online training programs?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment31">
                    <span class="faq5-text36 thq-body-small">
                      Yes, AIRF offers online training programs to reach a wider
                      audience and provide flexible learning options.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item9">
                <p>
                  <fragment class="faq5-fragment17"></fragment>
                </p>
                <p class="faq5-text20 thq-body-large">
                  What is the mission of AIRF?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment18">
                    <span class="faq5-text21 thq-body-small">
                      The mission of AIRF is to promote economic empowerment and
                      wealth creation through innovative research, consulting
                      services, and training programs.
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
          <div class="thq-flex-column">
            <div class="faq5-content3">
              <h2>
                <fragment class="faq5-fragment16">
                  <h2 class="faq5-text19 thq-heading-2">
                    Still have a question?
                  </h2>
                </fragment>
              </h2>
              <p>
                <fragment class="faq5-fragment23"></fragment>
              </p>
              <p class="faq5-text26 thq-body-large">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </span>
                <span></span>
              </p>

              <p></p>
            </div>
            <button class="thq-button-outline">
              <span>
                <fragment class="faq5-fragment11">
                  <span class="faq5-text14 thq-body-small">Contact</span>
                </fragment>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
