.not-found-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  min-height: 400px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.not-found-max-width {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.not-found-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.not-found-button {
  text-decoration: none;
}
.not-found-container3 {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  min-height: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.not-found-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.not-found-container4 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0,0,0,0.7);
}
.not-found-container5 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.not-found-fragment1 {
  display: contents;
}
.not-found-text15 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.not-found-fragment2 {
  display: contents;
}
.not-found-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
}
.not-found-fragment3 {
  display: contents;
}
.not-found-text17 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.not-found-fragment4 {
  display: contents;
}
.not-found-text18 {
  display: inline-block;
}
.not-found-fragment5 {
  display: contents;
}
.not-found-text19 {
  display: inline-block;
}
.not-found-fragment6 {
  display: contents;
}
.not-found-text20 {
  display: inline-block;
}
@media(max-width: 767px) {
  .not-found-container1 {
    align-items: center;
    justify-content: center;
  }
  .not-found-container2 {
    width: 100%;
    align-items: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .not-found-container3 {
    display: none;
  }
  .not-found-text18 {
    text-align: center;
  }
  .not-found-text19 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .not-found-container1 {
    height: auto;
  }
  .not-found-container2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
